{% extends "shop/base.html" %}
{% load static %}

{% block title %}
	{% if category %}
		{{ category.name }}
	{% else %}
		About
	{% endif %}
{% endblock %}

{% block content %}

	 <!-- about us-->
    <div id="section1" class="container-fluid w3-padding-64">
	<div class="w3-container" id="about">
		<div class="w3-content" style="max-width:850px">
			<h5 class="w3-center "><span class="w3-tag w3-wide">WELCOME TO SERENA RESTAURANT</span></h5>
			<div class="row">
				<div class="column w3-padding-5 w3-white">
				<img src="{% static 'img/logo.jpg' %}"style="max-width:100%; max-height: 80%;" class="w3-margin-top">
				</div>
				<div class="column w3-padding-16 w3-white">
				<p>hello</p>
				<p>World</p>
				<p><strong>Opening hours:</strong> </p>
				<p><strong>Sunday - Thursday: 10:00am - 12:00mn</strong> </p>
				<p><strong>Friday -Saturday: 10:00am - 1:00am</strong> </p>
				<p><strong>Address: Block 44 Lot9, Saint Joseph Village 6 Ph-2, Brgy. Butong, Cabuyao 4025, Laguna</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- end -->
{% endblock %}

